<div class="p-3 d-flex justify-content-between" style="background-color: #00a7e1">
  <img id="logo" width="180" height="65" src="assets/images/logo.svg">
  <div class="font-weight-bolder" style="font-size: 1.1em">
    <a class="text-white mr-3 hover-pointer" (click)="scrollToBottom()">Contact</a>
  </div>
</div>
<router-outlet></router-outlet>
<div class="bg-light p-5 h-25 d-flex justify-content-center flex-wrap">
  <div class="mr-5" style="line-height: 1em">
    <a href="https://www.instagram.com/athlas.app/" class="ml-3 fa fa-instagram"></a>
    <a href="https://github.com/AthlasApp" class="ml-3 fa fa-github"></a>
  </div>
  <div>
    <h5 class="mb-3">Contact</h5>
    <p>E-Mail: <a href="mailto:contact@athlas.app">contact@athlas.app</a></p>
  </div>
</div>
