<div style="background: linear-gradient(to bottom, #00a7e1 95%, #ffffff 100%); padding-bottom: 5%; margin-bottom: 5%">
  <div class="w-75 m-auto">
    <h2 style="font-size: 8em" class="text-white">Hoopr</h2>
    <h3 style="font-size: 4em" class="text-white font-weight-light w-75">The easiest way to connect & play basketball</h3>
  </div>
</div>
<div style="max-width: 800px; margin-left: 15%" class="d-inline-block">
  <div class="d-flex align-items-center">
    <img src="../../assets/images/phone.png" width="250" height="500"/>
    <div style="font-size: 1.5em; width: 60%" class="ml-5">
      <p>Hooper allows you to:</p>
      <ul>
        <li>Find players</li>
        <li>Find courts</li>
        <li>Create Matches & Tourney</li>
        <li>Climb the ladder</li>
      </ul>
    </div>
  </div>
</div>
<div class="float-right" style="width: 400px; margin-right: 10%">
  <app-sign-up>
  </app-sign-up>
</div>
