<div style="background: linear-gradient(to bottom, #007bff 45%, #ffffff 46%);" class="h-100">
  <div class="w-50 m-auto">
    <h2 style="font-size: 8em" class="text-white">Hoopr</h2>
    <h3 style="font-size: 4em" class="text-white font-weight-light">We do sportive software & apps and stuff.</h3>
  </div>
  <div style="width: 20%; right: 15%" class="position-absolute">
    <app-sign-up>
    </app-sign-up>
  </div>
  <div class="w-75 m-auto position-absolute" style="bottom: 0%; left: 10%">
    <div class="d-flex align-items-center">
      <img src="assets/images/basketball.png" width="400" height="500"/>
      <div style="font-size: 1.5em; width: 35%" class="ml-5">
        <p>This App is very cool because:</p>
        <ul>
          <li>It is</li>
          <li>It still is</li>
          <li>It is amazing in fact</li>
        </ul>
      </div>
    </div>
  </div>
</div>
