<div id="card" class="card" style="z-index: 10">
  <form>
    <div class="card-header">
      <h4>Sign up</h4>
    </div>
    <div class="card-body">
      <div class="pl-3 pr-3">
        <label>Name</label>
        <input name="name" class="form-control mb-3" type="text" style="border-radius: 1em; border-color: #404040"
               placeholder="Name"/>
        <label>E-Mail</label>
        <input name="email" class="form-control mb-3" type="email" style="border-radius: 1em; border-color: #404040"
               placeholder="E-Mail"/>
        <div class="pl-4 pr-4">
          <input id="notify" name="notify" class="form-check-input" type="checkbox"
                 style="border-radius: 1em; border-color: #404040" placeholder="123123123"/>
          <label for="notify">Send updates via E-Mail</label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <input disabled style="border-radius: 2em" class="btn btn-primary pl-4 pr-4" type="submit" value="Sign up">
      </div>
      <p class="text-center">(Work in progress)</p>
    </div>
  </form>
</div>
