<div id="card" class="card" style="z-index: 10">
  <form>
    <div class="card-header">
      <h4>Sign up</h4>
    </div>
    <div class="card-body">
      <div class="pl-3 pr-3">
        <label>Name</label>
        <input name="name" class="form-control mb-3" style="border-radius: 1em; border-color: #404040" placeholder="Name"/>
        <label>E-Mail</label>
        <input name="email" class="form-control mb-3" style="border-radius: 1em; border-color: #404040" placeholder="E-Mail"/>
        <label>123123123</label>
        <input name="123" class="form-control" style="border-radius: 1em; border-color: #404040" placeholder="123123123"/>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <input style="border-radius: 2em" class="btn btn-primary pl-4 pr-4" type="submit" value="Sign up">
    </div>
  </form>
</div>
